@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

.extra-one {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
}

.display {
    display: flex;
}